<div class='collection-manage-container'>
    <div class="md-form">
        <input type="text" id="itemToSearch" class="form-control">
        <label for="itemToSearch" id="itemToSearchLabel">Type the {{this.colType}} name and we will find it!</label>
        <button class="btn btn-default" id="item-add-btn">Add</button>
    </div>
</div>

{{#each this.items}} 
<div class="card" id="item-preview">
    
    <div class="md-form">
        <span class="item-name-preview"> Title: {{this.name}}</span>
    </div>
    <div class="md-form">
        <img src="{{href}}" class="item-img-preview" />
    </div>
    <div class="md-form">
        <p class="item-description-preview">{{this.description}}</p>
    </div>
    <div class="text-center">
        <button class="btn btn-danger item-btn-delete">Delete</button>
        <span class="hidden">{{this.key}}</span>
    </div>
</div>
{{/each}}